<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>de.kutilek.glyphs.WernerHerzog</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Werner Herzog</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/jenskutilek/Glyphs-WernerHerzog/main/WernerHerzog.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/jenskutilek/Glyphs-WernerHerzog</string>
	<key>productReleaseNotes</key>
	<string>Initial release.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2020 Jens Kutilek (via Ethan Cohen)</string>
	<key>NSPrincipalClass</key>
	<string>WernerHerzog</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
